In [20]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [21]:
# import the dataset
# Making a list of missing value types
missing_values = ["?", ""] # After check the csv files, we can find the missing values are ?.
df = pd.read_csv('breast-cancer-wisconsin.csv', na_values = missing_values) 
print(df.shape)
df.head(50)

(699, 11)

     Sample  F1  F2  F3  F4  F5    F6  F7  F8  F9  Class
0   1000025   5   1   1   1   2   1.0   3   1   1      2
1   1002945   5   4   4   5   7  10.0   3   2   1      2
2   1015425   3   1   1   1   2   2.0   3   1   1      2
3   1016277   6   8   8   1   3   4.0   3   7   1      2
4   1017023   4   1   1   3   2   1.0   3   1   1      2
5   1017122   8  10  10   8   7  10.0   9   7   1      4
6   1018099   1   1   1   1   2  10.0   3   1   1      2
7   1018561   2   1   2   1   2   1.0   3   1   1      2
8   1033078   2   1   1   1   2   1.0   1   1   5      2
9   1033078   4   2   1   1   2   1.0   2   1   1      2
10  1035283   1   1   1   1   1   1.0   3   1   1      2
11  1036172   2   1   1   1   2   1.0   2   1   1      2
12  1041801   5   3   3   3   2   3.0   4   4   1      4
13  1043999   1   1   1   1   2   3.0   3   1   1      2
14  1044572   8   7   5  10   7   9.0   5   5   4      4
15  1047630   7   4   6   4   6   1.0   4   3   1      4
16  1048672   4   1   1   1   2   1.0   2   1   1      2
17  1049815   4   1   1   1   2   1.0   3   1   1      2
18  1050670  10   7   7   6   4  10.0   4   1   2      4
19  1050718   6   1   1   1   2   1.0   3   1   1      2
20  1054590   7   3   2  10   5  10.0   5   4   4      4
21  1054593  10   5   5   3   6   7.0   7  10   1      4
22  1056784   3   1   1   1   2   1.0   2   1   1      2
23  1057013   8   4   5   1   2   NaN   7   3   1      4
24  1059552   1   1   1   1   2   1.0   3   1   1      2
25  1065726   5   2   3   4   2   7.0   3   6   1      4
26  1066373   3   2   1   1   1   1.0   2   1   1      2
27  1066979   5   1   1   1   2   1.0   2   1   1      2
28  1067444   2   1   1   1   2   1.0   2   1   1      2
29  1070935   1   1   3   1   2   1.0   1   1   1      2
30  1070935   3   1   1   1   1   1.0   2   1   1      2
31  1071760   2   1   1   1   2   1.0   3   1   1      2
32  1072179  10   7   7   3   8   5.0   7   4   3      4
33  1074610   2   1   1   2   2   1.0   3   1   1      2
34  1075123   3   1   2   1   2   1.0   2   1   1      2
35  1079304   2   1   1   1   2   1.0   2   1   1      2
36  1080185  10  10  10   8   6   1.0   8   9   1      4
37  1081791   6   2   1   1   1   1.0   7   1   1      2
38  1084584   5   4   4   9   2  10.0   5   6   1      4
39  1091262   2   5   3   3   6   7.0   7   5   1      4
40  1096800   6   6   6   9   6   NaN   7   8   1      2
41  1099510  10   4   3   1   3   3.0   6   5   2      4
42  1100524   6  10  10   2   8  10.0   7   3   3      4
43  1102573   5   6   5   6  10   1.0   3   1   1      4
44  1103608  10  10  10   4   8   1.0   8  10   1      4
45  1103722   1   1   1   1   2   1.0   2   1   2      2
46  1105257   3   7   7   4   4   9.0   4   8   1      4
47  1105524   1   1   1   1   2   1.0   2   1   1      2
48  1106095   4   1   1   3   2   1.0   3   1   1      2
49  1106829   7   8   7   2   4   8.0   3   8   2      4

In [22]:
# To find the total number of null values
df.isnull().sum()

Sample     0
F1         0
F2         0
F3         0
F4         0
F5         0
F6        16
F7         0
F8         0
F9         0
Class      0
dtype: int64

Delete the rows with missing value

In [23]:
df.dropna(inplace = True)
df.head(50)

     Sample  F1  F2  F3  F4  F5    F6  F7  F8  F9  Class
0   1000025   5   1   1   1   2   1.0   3   1   1      2
1   1002945   5   4   4   5   7  10.0   3   2   1      2
2   1015425   3   1   1   1   2   2.0   3   1   1      2
3   1016277   6   8   8   1   3   4.0   3   7   1      2
4   1017023   4   1   1   3   2   1.0   3   1   1      2
5   1017122   8  10  10   8   7  10.0   9   7   1      4
6   1018099   1   1   1   1   2  10.0   3   1   1      2
7   1018561   2   1   2   1   2   1.0   3   1   1      2
8   1033078   2   1   1   1   2   1.0   1   1   5      2
9   1033078   4   2   1   1   2   1.0   2   1   1      2
10  1035283   1   1   1   1   1   1.0   3   1   1      2
11  1036172   2   1   1   1   2   1.0   2   1   1      2
12  1041801   5   3   3   3   2   3.0   4   4   1      4
13  1043999   1   1   1   1   2   3.0   3   1   1      2
14  1044572   8   7   5  10   7   9.0   5   5   4      4
15  1047630   7   4   6   4   6   1.0   4   3   1      4
16  1048672   4   1   1   1   2   1.0   2   1   1      2
17  1049815   4   1   1   1   2   1.0   3   1   1      2
18  1050670  10   7   7   6   4  10.0   4   1   2      4
19  1050718   6   1   1   1   2   1.0   3   1   1      2
20  1054590   7   3   2  10   5  10.0   5   4   4      4
21  1054593  10   5   5   3   6   7.0   7  10   1      4
22  1056784   3   1   1   1   2   1.0   2   1   1      2
24  1059552   1   1   1   1   2   1.0   3   1   1      2
25  1065726   5   2   3   4   2   7.0   3   6   1      4
26  1066373   3   2   1   1   1   1.0   2   1   1      2
27  1066979   5   1   1   1   2   1.0   2   1   1      2
28  1067444   2   1   1   1   2   1.0   2   1   1      2
29  1070935   1   1   3   1   2   1.0   1   1   1      2
30  1070935   3   1   1   1   1   1.0   2   1   1      2
31  1071760   2   1   1   1   2   1.0   3   1   1      2
32  1072179  10   7   7   3   8   5.0   7   4   3      4
33  1074610   2   1   1   2   2   1.0   3   1   1      2
34  1075123   3   1   2   1   2   1.0   2   1   1      2
35  1079304   2   1   1   1   2   1.0   2   1   1      2
36  1080185  10  10  10   8   6   1.0   8   9   1      4
37  1081791   6   2   1   1   1   1.0   7   1   1      2
38  1084584   5   4   4   9   2  10.0   5   6   1      4
39  1091262   2   5   3   3   6   7.0   7   5   1      4
41  1099510  10   4   3   1   3   3.0   6   5   2      4
42  1100524   6  10  10   2   8  10.0   7   3   3      4
43  1102573   5   6   5   6  10   1.0   3   1   1      4
44  1103608  10  10  10   4   8   1.0   8  10   1      4
45  1103722   1   1   1   1   2   1.0   2   1   2      2
46  1105257   3   7   7   4   4   9.0   4   8   1      4
47  1105524   1   1   1   1   2   1.0   2   1   1      2
48  1106095   4   1   1   3   2   1.0   3   1   1      2
49  1106829   7   8   7   2   4   8.0   3   8   2      4
50  1108370   9   5   8   1   2   3.0   2   1   5      4
51  1108449   5   3   3   4   2   4.0   3   4   1      4

In [24]:
# Replace factors' name
df.rename(columns={"F1" : "Clump Thickness", "F2" : "Uniformity of Cell Size", "F3" : "Uniformity of Cell Shape",
                     "F4" : "Marginal Adhesion", "F5" : "Single Epithelial Cell Size", "F6" : "Bare Nuclei", 
                     "F7" : "Bland Chromatin", "F8" : "Normal Nucleoli", "F9" : "Mitoses", "Class" : "Diagnosis Class"},inplace=True)
df.head()

,Sample,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Diagnosis Class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2

Subsetting the data to training and testing sets

In [25]:
df.columns

Index(['Sample', 'Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Diagnosis Class'],
      dtype='object')

In [26]:
x=df[[ 'Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Diagnosis Class']]
y=df[['Diagnosis Class']]

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)    # Use 30% test 70% training data.

KNN Classifier

In [28]:
#Use the knn methodology (k=3,5 and 10) to develop a classification models for the Diagnosis. 
from sklearn.neighbors import KNeighborsClassifier as KNN
for i in (3,5,10):
    knn = KNN(n_neighbors = i)
    knn.fit(x_train, y_train)
    score = knn.score(x_test, y_test)
    print("K = " + str(i) + " : Score = " + str(score))

K = 3 : Score = 0.9658536585365853
K = 5 : Score = 0.9707317073170731
K = 10 : Score = 0.9707317073170731